@model IEnumerable<IHVNMedix.DTOs.EncounterDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncounterDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncounterDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>  |
                <a asp-action="EnterVitalSigns" asp-route-encounterId="@item.Id">Enter Vital Signs</a> |
                <a asp-action="ViewVitalSigns" asp-route-encounterId="@item.Id">View Vital Signs</a>  |
                <a asp-action="Consultation" asp-route-encounterId="@item.Id">Start Consultation</a>  |
                <a asp-action="ViewDiagnosis" asp-route-encounterId="@item.Id">Diagmosis Result</a>
            </td>
        </tr>
}
    </tbody>
</table>
