@model IHVNMedix.Models.Diagnosis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diagnosis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
